<div id="graph-h3hosp-parliament" style="height: 500px; max-width:1000px; min-width: 250px;"></div>



<script>
    Highcharts.chart('graph-h3hosp-parliament', {

    chart: {
    type: 'item'
    },

    title: {
    text: ''
    },

    subtitle: {
    text: 'hospitalisés, au 20 février 2022'
    },

    legend: {
    labelFormat: '{name} <span style="opacity: 0.4">{true_y}</span>',
    verticalAlign: 'top',
    },

    series: [{
    name: 'hospitalisés',
    keys: ['name', 'y', 'true_y', 'label'],
    data: [
    ['0-9 ans', 5, 395, 'enfants'],
['10-19 ans', 5, 313, 'enfants'],
['20-29 ans', 10, 623, 'jeunes adultes'],
['30-39 ans', 15, 824, 'adultes'],
['40-49 ans', 20, 1031, 'adultes'],
['50-59 ans', 40, 2190, 'seniors'],
['60-69 ans', 75, 4304, 'seniors'],
['70-79 ans', 110, 6269, 'seniors'],
['80-89 ans', 145, 8187, 'vieux'],
['>=90 ans', 75, 4380, 'vieux']
    ],
    dataLabels: {
        enabled: true,
        format: '{point.name}',
        color:'white'
    },

    tooltip: {
                pointFormat: '<b>{point.true_y}</b> {point.series.name}',
            },

    // Circular options
    center: ['50%', '88%'],
    size: '170%',
    startAngle: -90,
    endAngle: 90
    }]
    });

</script>


