<div id="graph-h1-basic3" style="height: 500px; max-width:1000px; min-width: 250px;"></div>

<script>
    $.get("/files/h1-basic3.csv", function(csv) {
        var c = Highcharts.chart('graph-h1-basic3', {
            chart: {
                type: 'column',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },
            yAxis: {
                //min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
                plotLines: [{
                    color: 'red', // Color value
                    width: 1,
                    value: 0,
                    dashStyle: 'solid',
                },]
            },

            tooltip: {
                //pointFormat: '{point.name}{point.y}{point.series.name}{point.date}{point.x}',
                shared: true
            },
            legend: {
                enabled: true,
                verticalAlign: 'bottom',
            },
            title: {
                text: ""
            },

            data: {
                csv: csv,
            },
        });

        c.addSeries({
            name: 'détérioration',
            type: 'polygon',
            data: [[Date.UTC(2020,2,25,0,0,0,0),0],[Date.UTC(2020,2,25,0,0,0,0),12500],
            [Date.UTC(2020,3,18,0,0,0,0) , 12500],[Date.UTC(2020,3,18,0,0,0,0),0],
            [Date.UTC(2020,7,4,0,0,0,0) , 0],[Date.UTC(2020,7,4,0,0,0,0),2500],
            [Date.UTC(2020,7,14,0,0,0,0) , 2500],[Date.UTC(2020,7,14,0,0,0,0),0],
            [Date.UTC(2020,7,18,0,0,0,0) , 0],[Date.UTC(2020,7,18,0,0,0,0),2500],
            [Date.UTC(2020,9,15,0,0,0,0) , 2500],[Date.UTC(2020,9,15,0,0,0,0),0],
            [Date.UTC(2020,9,15,0,0,0,0) , 0],[Date.UTC(2020,9,15,0,0,0,0),10000],
            [Date.UTC(2020,10,21,0,0,0,0) , 10000],[Date.UTC(2020,10,21,0,0,0,0),0]],
            color: 'rgba(185,41,45,0.4)',
            events: {
                mouseOver() {
                    this.group.toBack()
                }
            }
        });
        c.addSeries({
            name: 'amélioration',
            type: 'polygon',
            data: [[Date.UTC(2020,3,8,0,0,0,0),0],[Date.UTC(2020,3,8,0,0,0,0),-5000],
            [Date.UTC(2020,8,4,0,0,0,0) , -5000],[Date.UTC(2020,8,4,0,0,0,0),0],
            [Date.UTC(2020,10,19,0,0,0,0),0],[Date.UTC(2020,10,19,0,0,0,0),-5000],
            [Date.UTC(2020,11,16,0,0,0,0) , -5000],[Date.UTC(2020,11,16,0,0,0,0),0]],
            color: 'rgba(53,189,91,0.4)',
            events: {
                mouseOver() {
                    this.group.toBack()
                }
            }
        });
    })
</script>


