<div id="graph-h3hosp-parliament" style="height: 500px; max-width:1000px; min-width: 250px;"></div>



<script>
    Highcharts.chart('graph-h3hosp-parliament', {

    chart: {
    type: 'item'
    },

    title: {
    text: ''
    },

    subtitle: {
    text: 'hospitalisés, au 6 juin 2021'
    },

    legend: {
    labelFormat: '{name} <span style="opacity: 0.4">{true_y}</span>',
    verticalAlign: 'top',
    },

    series: [{
    name: 'hospitalisés',
    keys: ['name', 'y', 'true_y', 'label'],
    data: [
    ['0-9 ans', 1, 26, 'enfants'],
['10-19 ans', 1, 67, 'enfants'],
['20-29 ans', 5, 190, 'jeunes adultes'],
['30-39 ans', 15, 403, 'adultes'],
['40-49 ans', 30, 841, 'adultes'],
['50-59 ans', 60, 1745, 'seniors'],
['60-69 ans', 100, 2886, 'seniors'],
['70-79 ans', 120, 3447, 'seniors'],
['80-89 ans', 115, 3371, 'vieux'],
['>=90 ans', 50, 1445, 'vieux'],










    ],
    dataLabels: {
        enabled: true,
        format: '{point.name}',
        color:'white'
    },

    tooltip: {
                pointFormat: '<b>{point.true_y}</b> {point.series.name}',
            },

    // Circular options
    center: ['50%', '88%'],
    size: '170%',
    startAngle: -90,
    endAngle: 90
    }]
    });

</script>


