<div id="graph-h3hosp-rea" style="height: 500px; max-width:1000px; min-width: 250px;"></div>



<script>
    Highcharts.chart('graph-h3hosp-rea', {

    chart: {
    type: 'item'
    },

    title: {
    text: ''
    },

    subtitle: {
    text: 'soins intensifs & réanimations, au 3 janvier 2021'
    },

    
    legend: {
    enabled: false,
    labelFormat: '{name} <span style="opacity: 0.4">{true_y}</span>',
    verticalAlign: 'bottom',
    },

    series: [{
    name: 'en soins intensifs/réanimations',
    keys: ['name', 'y', 'true_y', 'label'],
    data: [
    ['0-9 ans', 1, 4, 'enfants'],
['10-19 ans', 1, 8, 'enfants'],
['20-29 ans', 1, 16, 'jeunes adultes'],
['30-39 ans', 1, 48, 'adultes'],
['40-49 ans', 5, 128, 'adultes'],
['50-59 ans', 5, 345, 'seniors'],
['60-69 ans', 15, 824, 'seniors'],
['70-79 ans', 20, 921, 'seniors'],
['80-89 ans', 5, 310, 'vieux'],
['>=90 ans', 1, 37, 'vieux'],





    ],
    dataLabels: {
        enabled: true,
        format: '{point.name}',
        color:'white'
    },

    tooltip: {
                pointFormat: '<b>{point.true_y}</b> {point.series.name}',
            },

    // Circular options
    center: ['50%', '88%'],
    size: '170%',
    startAngle: -90,
    endAngle: 90
    }]
    });

</script>


