<figure class="highcharts-figure">
    <div id="bubble3-explanations-a" style="height: 300px; width:500px"></div>
    <div id="bubble3-explanations-b" style="height: 300px; width:500px"></div>
    <div id="bubble3-explanations-c" style="height: 300px; width:500px"></div>
</figure>


<script>
    Highcharts.chart('bubble3-explanations-a', {
    
        chart: {
            type: 'bubble',
            events: {
                load: function() {
                    var chart = this;
                    chart.renderer.label('La couleur détermine la position dans le temps de la valeur:', 10, 70)
                    .add()
                    .css({
                        color: '#ffffff',
                    })
                }
            },
    
            plotBorderWidth: 0,
            zoomType: '',
        },
        tooltip: {
            useHTML: true,
            formatter: function(){
                point=this.point;
                html='<b>' + point.name + '</b>'
                html+= '</br>' + point.date
                return html
            }
        },
    
        legend: {
            enabled: false,
            verticalAlign: 'top',
        },
    
        xAxis:{
            visible: true,
            type:'category',
            tickInterval: 10,
            lineWidth:0,    
            offset: -90
        },
        yAxis:{
            visible: false,
        },
    
    
        series: [{
            data: [
                { name:'dernière', x: 10, y: 10, z: 10, color: '#3498db', 'date':'16-08-2020'},
                { name:'précédente', x: 20, y: 10, z: 10, color: '#ffffff', 'date':'02-08-2020'},
                { name: 'récente', x: 30, y: 10, z: 10, color: '#e74c3c', 'date':'26-07-2020'},
                { name: '-', x: 35, y: 10, z: 10, color:'#E86333', 'date':'-'},
                { name:'--', x: 40, y: 10, z: 10, color:'#EB8626', 'date':'--'},
                { name: '---', x: 45, y: 10, z: 10, color:'#ED9D1D', 'date':'---'},
                { name:'+ ancienne', x: 50, y: 10, z: 10, color:'#f1c40f', 'date':'22-03-2020'},
    
            ]
        }],


    
    });
    
</script>
<script>
    Highcharts.chart('bubble3-explanations-b', {
    
        chart: {
            type: 'bubble',
            events: {
                load: function() {
                    var chart = this;
                    chart.renderer.label('Dans le premier graphique,', 10, 48)
                    .add()
                    .css({
                        color: '#ffffff',
                    });
                    chart.renderer.label("la position de la bulle représente le percentile dans une classe d'âge,", 10, 65)
                    .add()
                    .css({
                        color: '#ffffff',
                    });
                    chart.renderer.label('la taille de la bulle représente le nombre de cas en absolu:', 10, 82)
                    .add()
                    .css({
                        color: '#ffffff',
                    });


                }
            },
    
            plotBorderWidth: 0,
            zoomType: '',
            //spacingTop: 100,
            //margin: [10, 10, 10, 10],
        },
        /*
        plotOptions: {
            bubble: {
                minSize: 1,
                maxSize: 50,
                marker:{
                    fillOpacity: 0.5,
                    lineWidth: 2,
                }
            }
        },*/
        tooltip: {
            useHTML: true,
            formatter: function(){
                point=this.point;
                html='<b>' + point.name + '</b>'
                html+= '</br>' + point.date
                return html
            }
        },
    
        legend: {
            enabled: false
        },
    
        xAxis:{
            visible: true,
            type:'category',
            tickInterval: 10,
            lineWidth:0,    
            offset: -90
        },
        yAxis:{
            visible: false,
        },
    
    
        series: [{
            data: [
                { name:'minimum', x: 10, y: 30, z: 1, color: '#E86333', 'value':'0'},
                { name:'', x: 20, y: 30, z: 8, color: '#E86333', 'value':'1333'},
                { name: '', x: 30, y: 30, z: 15, color: '#E86333', 'value':'2500'},
                { name:'', x: 40, y: 30, z: 22, color: '#E86333', 'value':'3833'},
                { name: 'maximum', x: 50, y: 30, z: 30, color: '#E86333', 'value':'5000'},
            ]
        }],


    
    });
    
</script>
<script>
    Highcharts.chart('bubble3-explanations-c', {
    
        chart: {
            type: 'bubble',
            events: {
                load: function() {
                    var chart = this;
                    chart.renderer.label('Dans le second graphique,', 10, 28)
                    .add()
                    .css({
                        color: '#ffffff',
                    });
                    chart.renderer.label('la position de la bulle représente la valeur', 10, 45)
                    .add()
                    .css({
                        color: '#ffffff',
                    });
                    chart.renderer.label("ramenée à la maximale enregistrée pour une classe d'âge,", 10, 62)
                    .add()
                    .css({
                        color: '#ffffff',
                    });
                    chart.renderer.label('la taille de la bulle représente le nombre de cas en absolu:', 10, 79)
                    .add()
                    .css({
                        color: '#ffffff',
                    });


                }
            },
    
            plotBorderWidth: 0,
            zoomType: '',
        },
        tooltip: {
            useHTML: true,
            formatter: function(){
                point=this.point;
                html='<b>' + point.value + '</b>'
                html+= '</br>' + point.z
                return html
            }
        },
    
        legend: {
            enabled: false
        },
    
        xAxis:{
            visible: true,
            type:'category',
            tickInterval: 10,
            lineWidth:0,    
            offset: -90
        },
        yAxis:{
            visible: false,
        },
    
    
        series: [{
            data: [
                { name:'', x: 1, y: 30, z: 1, color: '#E86333', 'value':'valeur minuscule'},
                { name:'', x: 8, y: 30, z: 8, color: '#E86333', 'value':'petite valeur'},
                { name: '', x: 50, y: 30, z: 50, color: '#E86333', 'value':'valeur moyenne'},
                { name:'', x: 90, y: 30, z: 90, color: '#E86333', 'value':'proche de la maximale'},
                { name: '', x: 100, y: 30, z: 100, color: '#E86333', 'value':'valeur maximale'},
            ]
        }],


    
    });
    
</script>
    


