{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1 class ="post-title">{{ .Title }}</h1>
      <div class="post-meta">
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          {{ .PublishDate.Format "Jan 2, 2006" }}
        </div>
        <!--<div>
          {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
          {{ .ReadingTime }} min read
        </div>-->
        {{- with .Params.tags -}}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
          {{ range . -}}
            {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
              <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end -}}
          {{- end -}}
        </div>
        {{- end -}}
      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection -}}
          <a class="prev" href="{{ .RelPermalink }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="76" height="76" viewBox="0 0 24 24" stroke-width="1.5" stroke="#57cc8a" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="5" y1="12" x2="19" y2="12" />
              <line x1="5" y1="12" x2="9" y2="16" />
              <line x1="5" y1="12" x2="9" y2="8" />
            </svg>
            <span>précédent:</span>
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ T "prevPost" }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection -}}
          <a class="next" href="{{ .RelPermalink }}">
            <span>, suivant:</span>
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="next-text nav-mobile">{{ T "nextPost" }}</span>
            <i class="iconfont icon-right"></i>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="76" height="76" viewBox="0 0 24 24" stroke-width="1.5" stroke="#57cc8a" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="5" y1="12" x2="19" y2="12" />
              <line x1="15" y1="16" x2="19" y2="12" />
              <line x1="15" y1="8" x2="19" y2="12" />
            </svg>
          </a>
        {{- end }}
      </nav>
      </div>
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="post-footer">
      {{ template "_internal/disqus.html" . }}
      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection -}}
          <a class="prev" href="{{ .RelPermalink }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="76" height="76" viewBox="0 0 24 24" stroke-width="1.5" stroke="#57cc8a" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="5" y1="12" x2="19" y2="12" />
              <line x1="5" y1="12" x2="9" y2="16" />
              <line x1="5" y1="12" x2="9" y2="8" />
            </svg>
            <span>previous:</span>
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ T "prevPost" }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection -}}
          <a class="next" href="{{ .RelPermalink }}">
            <span>, next:</span>
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="next-text nav-mobile">{{ T "nextPost" }}</span>
            <i class="iconfont icon-right"></i>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="76" height="76" viewBox="0 0 24 24" stroke-width="1.5" stroke="#57cc8a" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="5" y1="12" x2="19" y2="12" />
              <line x1="15" y1="16" x2="19" y2="12" />
              <line x1="15" y1="8" x2="19" y2="12" />
            </svg>
          </a>
        {{- end }}
      </nav>
    </div>
  </article>
{{ end }}

